extends ../layouts/common

block content
  h1 Create User
  form(action="/users/create", method="POST")
    .form-group
      label(for="name") Name
      input(name="name", type="text", class="form-control" id='name', value=values ? values.name : "" )
    .form-group
      label(for="phone") Phone
      input(name="phone", type="text", class="form-control" id='phone', value=values ? values.phone : "")
    button(class="btn btn-primary ml-2 mb-3") Create
    if errors
      each error in errors
        .alert.alert-danger(role="alert")= error

  