extends ../layouts/common

block content
  .container
    .row
      .col-md-12
        h1.text-center Users
        form(action="/users/search", method="GET", class="form-group d-flex")
          input(type="text", name="q", value=q, class="form-control")
          button(class="btn btn-primary ml-2") Search
        ul 
          each val in users
            li
              span= val.name
              span &nbsp
              a(href=`/users/${val.id}`) view